.additionally {
  @include layout(12);
  @include container();
  @include breakpoint(max-width $minimal-width) {
    margin-top: 30px;
  }

  background: $light-background;

  clear: both;
  min-height: 20px;
  padding-bottom: gutter(16);
  position: relative;

  header {
    @include adjust-font-size-to(20px);

    top: -3px;

    display: block;
    font-family: 'pfBold';
    padding-left: gutter(12);
    position: relative;
    text-transform: uppercase;
  }

  .divide {
    background-position-x: 80px;
  }

  .additionally-information {
    @include container(12);

    margin: 10px gutter(11);
    padding: gutter(12);

    background: #fff;

    //padding-left: span(1);
    //padding-right: gutter(6);
  }

  .info-description {
    @include span(2.5);
    @include adjust-font-size-to(15px);
    @include breakpoint(max-width $minimal-width) {
      @include span(8);
      @include push(3.5);

      clear: left;
      margin-bottom: gutter(3);
      margin-top: gutter(2);
    }

    margin: 0 auto;

    color: $light-gray-color;
    float: left;
    font-family: 'pfBold';
    margin-left: span(1);
    padding-left: gutter(3.5);
    text-transform: uppercase;

    &:nth-child(2) {
      @include adjust-font-size-to(14px);
      span {
        @include adjust-font-size-to(20px);

        margin-bottom: 0;
        margin-top: 10px;
        text-transform: none;
      }
    }

    span {
      @include adjust-font-size-to(24px);

      display: block;
      margin-bottom: -10px;
    }
  }
}