blockquote {
  @include border-radius(4px);
  @include background(rgba(93,124,160,0.13));
  @include adjust-leading-to(1);
  @include breakpoint(max-width $minimal-width) {
    width: span(11.6);
  }

  padding: 3px;
  //background: rgba(93, 124, 160, 13);

  background: #edf1f6;

  border-left: 3px solid $color-light-blue;
  display: inline-block;
  padding-left: 6px;
  width: span(7);
}
