.breadcrumbs {
  @include container(12);

  padding: gutter(12);

  clear: both;
  margin-right: span(1);
  margin-top: 20px;

  nav {
    font-family: 'pfThin';
    a {
      @include adjust-font-size-to(15px);

      background: $light-background;

      color: $main-text;
      display: inline-block;
      font-weight: bold;
      position: relative;
      z-index: 2;
      &:hover {
        color: $color-light-blue;
      }
      &:first-child {
        @include adjust-font-size-to(14px);

        font-family: 'pfThin';
        font-weight: normal;
      }
      &:last-child {
        @include adjust-font-size-to(18px);

        color: $color-light-blue;
        font-family: 'pfBold';
        font-weight: normal;
        &:after {
          display: none;
        }
      }
      &:after {
        @include background(image_url('breadcrumb_divider.svg') no-repeat);

        top: 4px;

        margin: 0 0 0 5px;

        content: '';
        display: inline-block;
        height: 16px;
        position: relative;
        width: 18px;
      }
    }
  }
}
