.choose-device-mechanism {
  .choose-mechanism {
    display: none;
  }
}

.choose-device-mechanism-activate {
  position: relative;
  .choose-device {
    position: relative;
    z-index: 9;
  }
  .choose-mechanism {
    @include breakpoint(max-width $minimal-width) {
      display: none;
    }

    top: 35px;
    left: -3%;

    padding: gutter(2);

    background: $dark-background;

    display: block;
    position: absolute;
    width: 380%;
    z-index: 8;
    > header {
      @include breakpoint(max-width $middle-width) {
        width: 38%;
      }

      top: -45px;
      left: 0;

      background: $dark-background;

      display: block;
      height: 45px;
      position: absolute;
      width: 22%;
      z-index: 1;
    }

    .brand {
      padding-top: 10px;
    }

    .brand-models {
      display: none;
    }

    .brand-name {
      @include adjust-font-size-to(14px);
      @include breakpoint(max-width $middle-width) {
        @include adjust-font-size-to(10px);

        margin-left: -5px;
      }

      padding: 5px;

      border-radius: 3px 0 0 3px;
      clear: left;
      cursor: pointer;
      display: block;
      float: left;
      font-family: 'pfMedium';
      //text-transform: uppercase;
      //width: 8.2%;
      width: 11%;
    }

    .models-show {
      @include breakpoint(max-width $middle-width) {
        top: 20px;
        left: 13%;
      }

      top: 25px;
      left: 12%;
      right: 30px;
      //bottom: 20px;

      padding: 10px;

      background: #fff;

      border-radius: 4px;
      color: #000;
      display: block;
      //min-height: 70%
      position: absolute;

      .brand-models {
        display: block;
        float: left;
        .models-category {
          margin: 10px;

          display: block;
          float: left;
        }
      }

      .category-name {
        color: $color-light-blue;
        display: block;
        font-family: 'pfBold';
        font-style: italic;
        margin-bottom: 10px;
        text-transform: uppercase;
      }

      .models {
        @include adjust-font-size-to(16px);

        font-family: 'pfMedium';
        margin-bottom: 20px;
        margin-right: 30px;

        li {
          margin-bottom: 3px;
        }
        a {
          color: $main-text;
          &:hover {
            color: $color-light-blue;
          }
        }
      }
    }

    .brand-active {
      .brand-name {
        background: #fff;

        color: $dark-background;
      }
    }
  }
}
