.comments {
  @include container;

  padding: gutter(12);

  margin-top: -10px;
  header {
    @include adjust-font-size-to(22px);

    color: $main-text;
    font-family: 'pfBold';
    text-transform: uppercase;
  }
  .divide {
    background-position-x: 80px;
  }
  .comment-info {
    @include span(3);
    @include border-radius(13px);
    @include breakpoint(max-width $minimal-width) {
      @include span(7);
    }

    padding: 6px;

    border: 1px solid $color-light-blue;

    display: block;
    margin-right: span(1);
    position: relative;

    .autor {
      @include adjust-font-size-to(16px);

      color: $color-light-blue;
      font-family: 'pfBold';
      margin-left: 10px;
    }

    .date {
      @include adjust-font-size-to(14px);

      color: $light-gray-color;
      display: inline-block;
      float: right;
      font-family: 'pfThin';
    }

    .comment-line {
      top: 16px;
      left: span(12.2);

      background-color: $color-light-blue;
      display: block;
      height: 1px;
      position: absolute;
      width: span(3);
    }
  }
  .comment {
    @include span(12);
  }

  .comment-content {
    @include breakpoint(max-width $minimal-width) {
      clear: both;
      padding-top: 20px;
    }

    color: $main-text;
    font-family: 'pfMedium';
    margin-top: 10px;
  }

  /*Comment form*/
  .comment-form {
    @include push(3.8);
    @include breakpoint(max-width $middle-width) {
      @include push(0);
    }

    clear: both;
    margin-bottom: 20px;
    padding-top: 60px;
    header {
      @include adjust-font-size-to(18px);

      color: $light-gray-color;
      font-family: 'pfBold';
      margin-bottom: 10px;
      text-transform: none;
    }

    input, textarea {
      @include border-radius(18px);
      @include adjust-font-size-to(17px);
      @include input-placeholder {
        color: $light-gray-color;
      }
      @include breakpoint(max-width $minimal-width) {
        clear: both;
        width: span(6);
      }

      padding: 4px;

      border: 2px solid $color-light-blue;

      color: $light-gray-color;
      font-family: 'pfReg';
      margin-top: gutter(12);
      outline: none;
      padding-left: 12px;
    }

    #autor-name {
      @include span (2);
      @include breakpoint(max-width $minimal-width) {
        width: span(8);
      }

      margin-right: gutter(6);
    }

    #capcha {
      @include span(2);
      @include breakpoint(max-width $minimal-width) {
        width: span(4);
      }
    }

    .comment-capcha {
      @include span(2);
      @include breakpoint(max-width $minimal-width) {
        width: span(6);
      }

      margin-top: 10px;
      img {
        width: 100%;
      }
    }

    .comment-submit {
      @include span(2);
      @include push(1.5);
      @include background(image_url('form_send.png') no-repeat center center);
      @include breakpoint(max-width $minimal-width) {
        @include push(0);
        @include pull(1);
        @include span(6);
      }

      border: none 0;

      background-position: cover;
      cursor: pointer;
    }

    .comment-body {
      @include span(10);

      padding: 12px;

      height: 100px;
      margin-bottom: 10px;
      max-width: span(10);
      min-width: span(10);
    }
  }
}
