@import '../components/comments';

.wrap > .item {
  @include container;

  padding: gutter(12);

  clear: both;

  .item-preview {
    @include border-radius(6px);
    @include span(3);
    @include breakpoint(max-width $minimal-width) {
      @include push(1.5);
    }

    padding: 3px;

    background: #fff;

    margin-bottom: 40px;
    max-width: 260px;
    min-width: 260px;

    .miniatures {
      width: 100%;
      img {
        display: block;
        float: left;
        height: 100px;
        margin-right: 6px;
        width: auto;
      }
    }
  }

  .item-description {
    @include span(7.5);
    @include push(0.5);
    @include breakpoint(max-width $middle-width) {
      @include span(6.5);
    }
    @include breakpoint(max-width $minimal-width) {
      @include span(12);
    }

    color: #5d7ca0;
    font-family: 'pfMedium';
    font-weight: bold;

    a {
      color: #5d7ca0;
      &:hover {
        color: $bright-links;
      }
    }
    .item-cost {
      float: left;
      margin-right: 30px;
      i {
        margin-bottom: -6px;;
      }
    }
    .buy-item {
      float: left;
      margin-left: 10px;
    }
    .description {
      clear: both;
      margin-top: 60px;

      ul {
        @include span(5.5);
        @include breakpoint(max-width $middle-width) {
          width: 50%;;
        }
        @include breakpoint(max-width $minimal-width) {
          clear: both;
          width: 100%;
        }

        margin-bottom: 30px;;
        span {
          color: $bright-links;
          font-family: 'pfMedium';
          font-style: italic;
        }
        li {
          /*background-image: url('../images/list_position.png') no-repeat left center;*/
          @include background( image_url('list_position.png') no-repeat left center);

          font-family: 'pfReg';
          list-style: none;
          margin-left: 10px;
          margin-top: 4px;
          padding-left: 10px;
        }
      }
    }
  }
}

/*FancyBox*/
.fancybox-skin {
  background: #fff  !important;
}

.fancybox-header {
  @include border-radius(6px 6px 0 0);

  top: -25px;
  left: 0;

  background: #253251;

  height: 40px;
  position: absolute;
  width: 100%;
}

.fancybox-close {
  top: -20px !important;
  right: 6px !important;

  background-image: url('../images/icons/fancybox_close.png');
  background-position: top center;
}
