.novelty {
  @include layout(12);
  @include container();

  background: $light-background;

  clear: both;
  padding-bottom: gutter(16);
  position: relative;

  header {
    @include adjust-font-size-to(20px);
    @include breakpoint(max-width $minimal-width) {
      margin-left: gutter(12);
      margin-right: gutter(12);
      padding-top: 10px;
      position: static;
    }

    top: -26px;
    left: 16px;

    display: block;
    font-family: 'pfBold';
    position: absolute;
    text-transform: uppercase;
  }

  .last-added {
    @include breakpoint(max-width $middle-width) {
      @include adjust-font-size-to(18px);
      @include span(5.3);

      max-height: 220px;
      min-height: 220px;
      overflow: hidden;
    }
    @include breakpoint(max-width $minimal-width) {
      @include span(11.2);
      @include push(0.2);
      @include adjust-font-size-to(20px);

      clear: both;
      height: auto;
      max-height: auto;
      min-height: 160px;
      img {
        padding-bottom: 20px;
      }
    }

    margin: gutter(18);
    padding: gutter(22);

    border: 2px solid $color-light-blue;
    background: #fff;

    border-radius: 4px;
    float: left;
    margin-bottom: gutter(8);
    margin-top: gutter(8);
    width: span(2.6);

    figure {
      @include adjust-font-size-to(14px);
      @include breakpoint(max-width $minimal-width) {
        @include adjust-font-size-to(16px);

        line-height: 22px;
      }

      color: $color-light-blue;
      font-family: 'pfMedium';
      font-style: italic;
      line-height: 18px;

      a {
        @include span(5);

        display: block;
        float: right;
        margin-top: 10px;
      }
      img {
        @include span(6);

        float: left;
        margin-right: span(1);
      }
    }
  }
}