.pagination {
  @include clearfix();

  padding: gutter(12);

  margin-top: -10px;

  .pages {
    text-align: center;
  }

  a {
    @include background(#e0e6f5);
    @include adjust-font-size-to(16px);

    top: -13px;

    margin: 0;
    padding: 2px 4px;

    color: $dark-background;
    display: inline;
    font-family: 'pfMedium';
    font-style: italic;
    margin-right: -5px;
    position: relative;
    text-align: center;
    &:first-child {
      @include border-radius(7px 0 0 7px);

      padding-left: 6px;
    }

    &:last-child {
      @include border-radius(0 7px 7px 0);

      padding-right: 8px;
    }

    &:hover {
      color: $bright-links;
    }

    &.active {
      color: $bright-links;
    }
  }
}
