.recommended {
  @include container();

  padding: gutter(12);

  .divide {
    background-position-x: 80px;
  }

  .shop-items {
    padding: 0;
    .item:last-child {
      @include breakpoint(min-width 1200px) {
        display: block;
      }

      display: none;
    }
  }
}
