.shopping-cart {
  @include span( last);
  @include adjust-font-size-to(15px);
  @include breakpoint(max-width $middle-width) {
    @include span(6 last);
  }
  @include breakpoint(max-width $minimal-width) {
    @include span(12 last);
  }

  padding: gutter(12) 0;

  font-family: 'pfMedium';
  font-style: italic;
  margin-bottom: 20px;
  padding-right: gutter(12);
  text-align: right;

  a {
    color: $bright-links;
    &:hover {
      color: $color-light-blue;
    }
  }

  span {
    @include border-radius(10px);

    padding: 3px 7px;

    background: #e0e6f5;
  }
}
