@import "../modules/bx";

.slide-buy-button {
  @include background(image_url('slide_buy_button.png') no-repeat left center);
  @include adjust-font-size-to(12px);

  padding: 4px 0;

  color: #fff;
  display: block;
  text-align: center;
  width: 188px;
  &:hover {
    @include background(image_url('slide_buy_button_hover.png') no-repeat left center);
  }
}

#slider {
  @include breakpoint(max-width $minimal-width) {
    display: none;
  }

  clear: both;
  height: 590px;
  position: relative;

  .slide_information {
    @include adjust-font-size-to(24px);

    top: 30%;
    left: 10%;

    color: $color-light-blue;
    display: block;
    font-family: 'pfMedium';
    height: auto;
    min-width: 400px;
    position: absolute;
    text-transform: uppercase;
    width: 40%;
    z-index: 8;
    span {
      @include adjust-font-size-to(28px);

      bottom: -16px;

      color: $dark-background;
      font-family: 'pfBold';
      position: relative;
    }
  }

  .bx-wrapper {
    border: none;

    box-shadow: none;
  }

  .bxslider {
    height: 590px;
    li {
      display: block;
      height: 100%;

      div {
        display: block;
        height: 100%;
        width: 100%;
      }
    }
  }

  .bx-controls-direction {
    display: none;
  }

  .bx-wrapper .bx-controls-auto, .bx-wrapper .bx-pager {
    top: 40%;
    right: 5%;
  }

  .bx-wrapper .bx-controls-auto, .bx-wrapper .bx-pager {
    bottom: 20px;

    width: 24px;
    z-index: 0;
  }

  .bx-pager-item {
    clear: right;
    float: right;
    margin-bottom: 10px;

    .active {
      /* http://colorzilla.com/gradient-editor/#44b3e5+31,fff9f9+66,fff9f9+100 */
      background: #44b3e5; /* Old browsers */
      background:    -moz-radial-gradient(center, ellipse cover,  #44b3e5 31%, #fff9f9 66%, #fff9f9 100%); /* FF3.6-15 */
      background: -webkit-radial-gradient(center, ellipse cover,  #44b3e5 31%,#fff9f9 66%,#fff9f9 100%); /* Chrome10-25,Safari5.1-6 */
      background:         radial-gradient(ellipse at center,  #44b3e5 31%,#fff9f9 66%,#fff9f9 100%); /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */

      filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#44b3e5', endColorstr='#fff9f9',GradientType=1 ); /* IE6-9 fallback on horizontal gradient */
    }
  }

  .bx-pager-link {
    border: 2px solid #44b3e5;
    background: #fff;

    border-radius: 7px;
  }
}
