.sorting {
  @include container(12);
  @include breakpoint(max-width $minimal-width) {
    margin-top: 0;
  }
  @include breakpoint(min-width 1600px) {
    margin-top: -86px;
  }

  margin: gutter(12);

  color: $main-text;
  font-family: 'pfMedium';
  margin-top: -100px;


  .sorting-actions {
    @include span(2 last);
    @include adjust-font-size-to(13px);
    @include breakpoint(max-width $minimal-width) {
      @include clearfix;
      @include span(6);
      @include adjust-font-size-to(16px);
    }

    position: relative;
    z-index: 3;
  }

  .sort-variants {
    @include background(linear-gradient(120deg, #b5d3e9 30%,#4197bf));

    margin: 5px;
    padding: 4px 10px;

    border-radius: 8px;
    display: inline-block;
    margin-left: 0;
    a {
      @include adjust-font-size-to(17px);

      color: #fff;
      font-family: 'pfReg';
      font-style: italic;
      margin-right: 20px;
      &:last-child {
        margin-right: 0;
      }
      &:hover {
        color: $main-text;
      }
    }
  }
}
