.slideout-menu {
  top: 0;
  left: auto;
  right: 0;
  bottom: 0;

  background-color: $swipe-background-light;
  display: none;
  -webkit-overflow-scrolling: touch;
  overflow-y: auto;
  position: fixed;
  width: 256px;
  z-index: 9;
}

.slideout-panel {
  position: relative;
  z-index: 1;
}

.slideout-open, .slideout-open body, .slideout-open .slideout-panel {
  overflow: hidden;
}

.slideout-open .slideout-menu {
  display: block;
}

.toggle-button {
  @include span(8);
  @include adjust-font-size-to(28px);
  @include breakpoint(max-width $middle-width) {
    display: block;
  }

  border: none;
  background: none;

  color: #fff;
  cursor: pointer;
  display: none;
  margin-top: -10px;
  outline: none;
  position: relative;
  z-index: 9;

  &:hover {
    color: $color-light-blue;
  }
}

#swipe-menu {
  @include container(10);

  .choose-device-mechanism-swipe {
    .brands {
      display: none;
    }
  }

  .choose-device-mechanism-swipe-activate {
    .brands {
      display: block;
    }
  }

  .brand-active {
    .models-category {
      display: block;
    }
    .brand-name {
      background: #fff;

      border-radius: 4px;
      color: $dark-background;
    }
  }

  nav {
    @include span(6);
    @include push(1);

    margin-top: gutter(3);

    .choose-device-mechanism-swipe {
      @include pull(1.9);
      @include span(20);

      padding: 20px;

      background: $swipe-background-dark;

      margin-top: -20px;
      padding-bottom: 0;
    }

    i {
      @include adjust-font-size-to(13px);

      color: #fff;
      cursor: pointer;
      font-family: "pfBold";
      font-weight: bold;
      &:hover {
        color: $color-light-blue;
      }
    }

    .brands {
      margin: 0 0;
      .brand {
        .brand-models {
          padding-top: 20px;
        }
        .brand-name {
          padding: 3px 6px;

          font-family: 'pfMedium';
          margin-bottom: -40px;

          &:hover {
            @extend .brand-active;
          }
        }
      }
    }

    .category-name {
      @include adjust-font-size-to(18px);

      clear: left;
      color: $color-light-blue;
      float: left;
      font-family: 'pfBold';
      font-style: italic;
      margin-bottom: 10px;
      text-transform: uppercase;
    }


    .models-category {
      @include span(12);

      display: none;
      margin-left: gutter(2);
      margin-top: 30px;
    }

    a:hover {
      color: $color-light-blue;
    }

    ul, a {
      clear: left;
      color: #fff;
      float: left;
      margin-bottom: 20px;
      li {
        @include adjust-font-size-to(16.5px);

        font-family: 'pfMedium';
        a {
          margin: 5px 0;
        }
      }
    }
  }
  .choose-device {
    @include span(8);
    @include breakpoint(min-width $middle-width) {
      @include span(8);
    }

    display: block;
    margin-bottom: 20px;
  }

  .main-links {
    clear: both;
    //background: $swipe-background-dark;
    display: block;
    //@include pull(1.5);
    //@include span(17.4);
    //padding: gutter(12);
    a {
      @include push(1);

      display: inline-block;
      float: none;
    }
  }
}
