@import 'compass/reset';
@import 'compass/css3';
@import "compass/typography";
$middle-width: 960px;
$minimal-width: 540px;

@import "breakpoint";
@import "grids";
//@import "modules/pesticide";

//Modules
@import "modules/layout";
@import "modules/header";
@import "modules/footer";
@import "modules/icons";
@import "modules/colors";
@import "modules/fonts";
@import "modules/copyright_information";
@import "modules/page_content";
@import "modules/shop_items";
@import "modules/recently";
@import "modules/media";


// Components
@import "components/choose_device";
@import "components/swipe_menu";
@import "components/slider";
@import "components/novelty";
@import "components/additionally";
@import "components/breadcrumbs";
@import "components/shopping_cart";
@import "components/sorting";
@import "components/pagination";
@import "components/item";
@import "components/recommended";

a {
  text-decoration: none;
}


.section-header {
  @include adjust-font-size-to(22px);

  color: $main-text;
  font-family: 'pfBold';
  text-transform: uppercase;
}
