/**
 * bxSlider v4.2.5
 * Copyright 2013-2015 Steven Wanderski
 * Written while drinking Belgian ales and listening to jazz

 * Licensed under MIT (http://opensource.org/licenses/MIT)
 */


.bx-wrapper {
  margin: 0 auto 60px;
  padding: 0;

  *zoom: 1;
  position: relative;
  -ms-touch-action: pan-y;
      touch-action: pan-y;
}.bx-wrapper img {
  display: block;
  max-width: 100%;
}.bxslider {
  margin: 0;
  padding: 0;
}ul.bxslider {
  list-style: none;
}.bx-viewport {
  -webkit-transform: translatez(0);
}.bx-wrapper {
  border: 5px solid #fff;
  background: #fff;

  -webkit-box-shadow: 0 0 5px #ccc;
     -moz-box-shadow: 0 0 5px #ccc;
          box-shadow: 0 0 5px #ccc;
}.bx-wrapper .bx-controls-auto, .bx-wrapper .bx-pager {
  bottom: -30px;

  position: absolute;
  width: 100%;
}.bx-wrapper .bx-loading {
  top: 0;
  left: 0;

  background: url(images/bx_loader.gif) center center no-repeat #fff;

  height: 100%;
  min-height: 50px;
  position: absolute;
  width: 100%;
  z-index: 2000;
}.bx-wrapper .bx-pager {
  color: #666;
  font-family: Arial;
  font-size: 0.85em;
  font-weight: 700;
  padding-top: 20px;
  text-align: center;
}.bx-wrapper .bx-pager.bx-default-pager a {
  margin: 0 5px;

  background: #666;

  -webkit-border-radius: 5px;
     -moz-border-radius: 5px;
          border-radius: 5px;
  display: block;
  height: 10px;
  outline: 0;
  text-indent: -9999px;
  width: 10px;
}.bx-wrapper .bx-pager.bx-default-pager a.active, .bx-wrapper .bx-pager.bx-default-pager a:focus, .bx-wrapper .bx-pager.bx-default-pager a:hover {
  background: #000;
}.bx-wrapper .bx-controls-auto .bx-controls-auto-item, .bx-wrapper .bx-pager-item {
  *display: inline;
  *zoom: 1;
  display: inline-block;
}.bx-wrapper .bx-pager-item {
  font-size: 0;
  line-height: 0;
}.bx-wrapper .bx-prev {
  left: 10px;

  background: url(images/controls.png) no-repeat 0 -32px;
}.bx-wrapper .bx-prev:focus, .bx-wrapper .bx-prev:hover {
  background-position: 0 0;
}.bx-wrapper .bx-next {
  right: 10px;

  background: url(images/controls.png) no-repeat -43px -32px;
}.bx-wrapper .bx-next:focus, .bx-wrapper .bx-next:hover {
  background-position: -43px 0;
}.bx-wrapper .bx-controls-direction a {
  top: 50%;

  height: 32px;
  margin-top: -16px;
  outline: 0;
  position: absolute;
  text-indent: -9999px;
  width: 32px;
  z-index: 9999;
}.bx-wrapper .bx-controls-direction a.disabled {
  display: none;
}.bx-wrapper .bx-controls-auto {
  text-align: center;
}.bx-wrapper .bx-controls-auto .bx-start {
  margin: 0 3px;

  background: url(images/controls.png) -86px -11px no-repeat;

  display: block;
  height: 11px;
  outline: 0;
  text-indent: -9999px;
  width: 10px;
}.bx-wrapper .bx-controls-auto .bx-start.active, .bx-wrapper .bx-controls-auto .bx-start:focus, .bx-wrapper .bx-controls-auto .bx-start:hover {
  background-position: -86px 0;
}.bx-wrapper .bx-controls-auto .bx-stop {
  margin: 0 3px;

  background: url(images/controls.png) -86px -44px no-repeat;

  display: block;
  height: 11px;
  outline: 0;
  text-indent: -9999px;
  width: 9px;
}.bx-wrapper .bx-controls-auto .bx-stop.active, .bx-wrapper .bx-controls-auto .bx-stop:focus, .bx-wrapper .bx-controls-auto .bx-stop:hover {
  background-position: -86px -33px;
}.bx-wrapper .bx-controls.bx-has-controls-auto.bx-has-pager .bx-pager {
  text-align: left;
  width: 80%;
}.bx-wrapper .bx-controls.bx-has-controls-auto.bx-has-pager .bx-controls-auto {
  right: 0;

  width: 35px;
}.bx-wrapper .bx-caption {
  left: 0;
  bottom: 0;

  background: #666;
  background: rgba(80,80,80,0.75);

  position: absolute;
  width: 100%;
}.bx-wrapper .bx-caption span {
  padding: 10px;

  color: #fff;
  display: block;
  font-family: Arial;
  font-size: 0.85em;
}
