$main-text: #253251;
$color-light-blue: #33c0ff;
$hover-icon-text: #33c0ff;
$link-icon-text: #fff;
$bright-links: #ff1f45;
$dark-background: #3b3d4a;
$light-background: #f5f7fb;
$swipe-background-light: #404651;
$swipe-background-dark: #30353f;
$light-gray-color: #5d7ca0;