.copyright-information {
  @include container(12);

  padding: gutter(12);

  clear: both;
  padding-top: 20px;

  div {
    @include breakpoint(max-width $minimal-width) {
      margin-bottom: 10px;
      margin-top: 10px;
    }
  }
  .copy {
    @include breakpoint(max-width $minimal-width) {
      display: none;
    }
    @include adjust-font-size-to(13px);
    @include span(4);

    color: $light-gray-color;
    font-family: 'pfMedium';
    span {
      @include adjust-font-size-to(16px);

      font-family: 'pfBold';
      font-style: italic;
      padding-right: 3px;
    }
  }

  .copy-mini {
    @extend .copy;
    @include breakpoint(max-width $minimal-width) {
      @include span(12);

      clear: both;
      display: inline-block;
      text-align: center;
    }

    display: none;
  }

  .social-links {
    @include span(4.5);
    @include push(0.6);
    @include breakpoint(max-width $minimal-width) {
      @include span(8);
      @include push(3);

      clear: both;
      float: none;
    }
    a {
      @include span(1.2);

      margin-right: gutter(3);
    }
  }

  .designed-by {
    @include breakpoint(max-width $minimal-width) {
      @include span(9);
      @include push(3.2);

      clear: both;
      float: none;
    }

    float: right;
  }
}