.wrap {
  > footer {
    @include container(10);

    clear: both;
  }
  .footer-divide {
    @include span(6 last);
    @include breakpoint(max-width $middle-width) {
      @include span(11.6);

      margin: 0;

      margin-left: gutter(12);
    }
    @include breakpoint(max-width $minimal-width) {
      margin-bottom: 10px;
      margin-top: 25px;
    }

    margin-right: gutter(10);
  }
  .footer-navigation {
    @include span(5);
    @include breakpoint(max-width $middle-width) {
      @include span(10);
    }

    margin: gutter(12);

    margin-right: 0;
    margin-top: 0;


    nav {
      @include span(5);
      @include breakpoint(max-width $middle-width) {
        @include span(6);
      }

      font-family: 'pfMedium';
      margin-right: span(2);

      a {
        @include adjust-font-size-to(14px);

        color: $light-gray-color;
        font-style: italic;
        &:hover {
          color: $dark-background;
        }
      }

      > header {
        @include adjust-font-size-to(16px);

        color: $color-light-blue;
        text-transform: uppercase;
      }
    }
    nav:last-child {
      margin-right: 0;
    }
  }
}