@import 'colors';
.headerPadding {
  margin-left: gutter(12);
  margin-top: 30px;
}

.wrap {
  > header {
    @include container();
    @include span(12);

    background-color: #000;
    color: #fff;
    display: block;
    height: 97px;

    .logo {
      @extend .headerPadding;
      @include span(2);
      @include push(1.8);
      @include breakpoint(max-width $middle-width) {
        @include span(4);
      }
      @include breakpoint(max-width $minimal-width) {
        @include pull(2);

        margin-top: 30px;
      }

      display: block;
      height: span(6);
      margin-top: 25px;
    }


    nav {
      @extend .headerPadding;

      i {
        font-family: "pfBold";
        font-weight: bold;
      }

      a {
        color: $link-icon-text;
        &:hover {
          color: $hover-icon-text;
        }
      }
    }

    .choose-device-mechanism {
      @include span(3);
    }

    .main-links {
      @include span(3 last);
      @include breakpoint(max-width $middle-width) {
        @include span(2 last);
      }

      margin-right: span(0.5);

      a {
        @include span(5);
        @include breakpoint(max-width $middle-width) {
          display: none;
        }
      }

      a:last-child {
        @include span(5 last);
      }
    }
  }
}
