.icon {
  @include adjust-font-size-to(12.4px);

  display: block;
  height: 30px;
  padding-left: 45px;
  padding-right: 40px;
  padding-top: 2px;
  text-transform: uppercase;
}


.simple-divide {
  background: rgba($light-gray-color, 0.1);

  display: block;
  height: 2px;
}

.choose-device {
  $choose_device_path: 'icons/choose_device.svg';

  @extend .icon;
  @include background(image_url($choose_device_path) no-repeat);
  @include breakpoint(max-width $middle-width) {
    @include adjust-font-size-to(11px);
    @include span(11);
  }
  @include breakpoint(max-width $minimal-width) {
    display: none;
  }

  cursor: pointer;
  padding-left: 38px;
  padding-top: 5px;
  &:hover {
    color: $hover-icon-text;
  }
}

.logotype {
  @include background(image_url('logotype.png') no-repeat);
  @include background-size(contain);

  display: block;
  height: 100%;
  width: 100%;
}

.media {
  $media_path: 'icons/media.svg';

  @extend .icon;
  @include background(image_url($media_path) no-repeat);
}


.shop {
  $shop_path: 'icons/shop.svg';

  @extend .icon;
  @include background(image_url($shop_path) no-repeat);

  margin-top: -8px;
  padding-left: 36px;
  padding-top: 10px;
}

.divide {
  @include background(image_url('divide.svg') repeat-x);

  top: -9px;

  display: block;
  min-height: 18px;
  position: relative;
  width: 100%;
}

.more-button {
  @include background(image_url('icons/more_button.png') no-repeat);
  @include adjust-font-size-to(14px);
  @include breakpoint(max-width 500px) {
    @include adjust-font-size-to(11px);
  }
  @include breakpoint(max-width 1130px) {
    @include adjust-font-size-to(10px);

    padding-bottom: 10px;
  }
  @include breakpoint(max-width $minimal-width) {
    @include adjust-font-size-to(12px);

    background-position: bottom left;
    padding-top: 5px;
  }

  padding: 0 3px 6px 33px;

  color: $dark-background;
  font-style: normal;
  font-weight: bold;
  text-transform: uppercase;
  width: 100%;
  &:hover {
    color: $color-light-blue;
  }
}


.footer-divide {
  @include background(image_url('footer_divide.svg') repeat-x);

  display: block;
  height: 30px;
}

// Social icons

.si {
  display: block;
  height: 32px;
  width: 100%;
}

.gp {
  @extend .si;
  @include background(image_url('icons/social/gp.svg') no-repeat);

  top: 3px;

  position: relative;
}

.fb {
  @extend .si;
  @include background(image_url('icons/social/fb.svg') no-repeat);
}

.in {
  @extend .si;
  @include background(image_url('icons/social/in.svg') no-repeat);
}

.tw {
  @extend .si;
  @include background(image_url('icons/social/tw.svg') no-repeat);

  top: 2px;

  position: relative;
}

.inst {
  @extend .si;
  @include background(image_url('icons/social/inst.svg') no-repeat);
}

// Shopping cart icon
.shopping-cart-icon {
  @include background(image_url('icons/shopping_cart_icon.svg') no-repeat);

  top: 4px;

  background-size: cover;
  display: inline-block;
  height: 18px;
  position: relative;
  width: 22px;
}

.sort-divide {
  @include breakpoint(max-width $minimal-width) {
    display: none;
  }

  top: -25px;

  background-color: #c7d5eb;
  display: inline-block;
  height: 2px;
  position: relative;
  width: 100%;
}

// Shop items icons
.cost-tag {
  @include background(image_url('icons/cost_tag.png') no-repeat);

  display: inline-block;
  height: 21px;
  width: 21px;
}

.buy-item-icon {
  @include background(image_url('icons/buy_item.svg') no-repeat);

  background-position-y: bottom;
  display: inline-block;
  height: 22px;
  padding-left: 35px;
  width: 124px;
}
