body {
  @include background-size(cover);

  background: image_url('background.svg') no-repeat center right fixed;
}

.wrap {
  @include layout(12);
  @include container();

  margin: gutter(12);

  background-color: #f5f7fb;

  footer {
    @include span(12);
  }
}
