.page-info {
  @include adjust-font-size-to(18px);

  padding: gutter(12);

  color: $light-gray-color;
}

.media-grid {
  @include container();

  padding: gutter(12);

  color: $light-gray-color;

  article {
    @include breakpoint(max-width $minimal-width) {
      @include span(11);

      clear: both;
    }
    @include adjust-font-size-to(14px);
    @include span(5);

    color: $main-text;
    font-family: 'pfMedium';
    margin-bottom: 70px;
    margin-right: span(1);
    h2 {
      @include adjust-font-size-to(24px);

      color: $light-gray-color;
      font-family: 'pfBold';
      font-style: italic;
      font-weight: bold;
      line-height: 28px;
      text-transform: uppercase;
    }
    img {
      height: auto;
      width: 100%;
    }
    &:last-child {
      @include span(5 last);
    }
  }
}
