@import '../components/blockquote';

.page-content {
  @include container(12);
  @include adjust-font-size-to(14px);

  padding: gutter(12);

  clear: both;
  font-family: 'pfReg';

  article {
    @include adjust-font-size-to(16px);
    @include adjust-leading-to(1.1);
    @include breakpoint(max-width $minimal-width) {
      &.mini-info {
        clear: both;
        width: 100%;
      }
      &.medium-info {
        clear: both;
        width: 100%;
      }
    }
    //margin: gutter(12) 0;

    margin: 40px 0;



    &.mini-info {
      @include span(3);

      color: $light-gray-color;
    }
    &.medium-info {
      @include span(5);

      color: $light-gray-color;
    }
    &:last-child {
      clear: both;
    }
  }

  h1 {
    @include adjust-font-size-to(18px);

    font-family: 'pfBold';
    margin-bottom: 6px;
    text-transform: uppercase;
  }

  h2 {
    @include adjust-font-size-to(22px);

    margin: 10px 0;

    color: $color-light-blue;
    font-family: 'pfBold';
    font-style: italic;
    text-transform: uppercase;
  }

  h3 {
    @include adjust-font-size-to(22px);

    color: $main-text;
    font-family: 'pfBold';
    text-transform: uppercase;
  }

  h4 {
    @include adjust-font-size-to(16px);

    color: $light-gray-color;
    font-family: 'pfMedium';
  }
  h5 {
    @include adjust-font-size-to(18px);

    color: $light-gray-color;
    font-family: 'pfMedium';
    text-transform: uppercase;
  }
}