.recently {
  @include clearfix();

  padding: gutter(12);

  .divide {
    background-position-x: 160px;
  }

  header {
    @include adjust-font-size-to(20px);
    @include breakpoint(max-width $minimal-width) {
      margin-left: gutter(12);
      margin-right: gutter(12);
      padding-top: 10px;
      position: static;
    }

    font-family: 'pfBold';
    text-transform: uppercase;
  }

  .clear {
    clear: both;
  }

  nav {
    @include border-radius(12px);

    margin: 10px 0;
    padding: 10px;

    background: #fff;

    display: inline-block;
  }
  a {
    display: block;
    float: left;
    margin-right: 20px;
    width: 80px;
    img {
      width: 100%;
    }
    &:last-child {
      margin-right: 0;
    }
  }
}
