.shop-items {
  @include container(12);

  padding: gutter(12);

  .item {
    @include container();
    @include border-radius(6px);
    @include breakpoint(min-width $minimal-width) {
      @include span(5.5);

      height: 250px;
      min-height: 250px;
    }
    @include breakpoint(min-width $middle-width) {
      @include span(3.5);

      height: 150px;
      min-height: 150px;
    }
    @include breakpoint(min-width 1200px) {
      @include span(2.7);

      height: 170px;
      min-height: 170px;
    }

    margin: 6px;
    padding: 8px;

    border: 1px solid $color-light-blue;
    background: #fff;

    margin-right: get-gutter-width();
    overflow: hidden;
    //@include breakpoint(min-width 1064px){

    //}
  }

  .item-preview {
    @include span(6);
    //height: 100%;
    img {
      @include breakpoint(min-width $middle-width) {
        width: 86%;
      }
      @include breakpoint(min-width 1200px) {
        width: 70%;
      }

      width: 100%;
      //height: 100%;
    }
  }

  .item-description {
    @include span(5.7 last);

    padding: 3px;

    color: $light-gray-color;
    font-family: 'pfMedium';
    a {
      color: $color-light-blue;
      font-family: 'pfReg';
      font-style: italic;
      &:hover {
        color: $bright-links;
      }
    }

    .item-cost {
      padding: gutter(6) 0;
      .cost-tag {
        top: 10px;

        margin: 6px 0;

        position: relative;
      }
    }
  }

  .item-actions {
    @include span(5.7 last);
    @include adjust-font-size-to(13px);

    padding: 3px;

    display: block;
    font-family: 'pfMedium';
    margin-top: 6px;
    text-transform: uppercase;
    a {
      color: $light-gray-color;
      &:hover {
        color: $bright-links;
      }
    }
  }
}